.table {
    .table-header {
        .header-cell {
            font-size: 0.7rem;
            font-weight: 600;
            color: #aaaaaa;
        }
    }
    .table-body {
        max-height: 188px;
        overflow-y: auto;
    }
}