.invoice{
    border-bottom: 1px solid #58626C;
    color: #828e9d;
    padding: 0.75rem 1rem;
    cursor: pointer;
    font-size: 0.7rem;
}

.invoice:selected{
    background-color: #48525d
}

.invoice-id{
    font-weight: normal;
    font-size: 1rem;
}

.invoice .invoice-id:hover{
    color: #fff;
}

.customer-details{
    text-transform: capitalize;
    color: #66a7ff;
}


.invoice-number{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 6px; */
}

.invoice-details{
    margin-top: 5%;
    /* display: flex; */
    /* margin-left: 6px; */    
}

.invoice-customer-price-details{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.items{
    font-size: 13px;
}

.customer-details{
    font-size: 12px;
    letter-spacing: 1px;
}

.price{
    font-size: 14px;
}