<div class="invoice" *ngIf="invoice" (click)="onInvoiceClick(invoice)">
  <div class="invoice-number">
    <h4 class="invoice-id">
      INV.# - {{invoice.id}}
    </h4>
    <div class="invoice-time">
      {{invoice.timeStamp | datePipe}}
    </div>
  </div>
  <div class="invoice-details">
    <div class="items">
      Items - {{invoice.items.length}}
    </div>
    <div class="invoice-customer-price-details">
      <div class="customer-details">
        {{invoice.customer.name}}
      </div>
      <div class="price">
        &#8377; {{invoice.cart.grandTotal}}
      </div>
    </div>
  </div>
</div>