<div class="invoice-detail-section flex flex-jc-sb text-uppercase">
  <h3>Invoice Details</h3>
</div>
<div *ngIf="invoice" class="invoice-detail-container">
  <div class="invoice-detail-inner-section">
    <!-- Invoice detail header -->
    <div class="invoice-detail-header flex flex-jc-sb">
      <div class="invoice-info flex flex-fd-col">
        <h5 class="invoice-header text-uppercase">Invoice</h5>
        <span># INV{{invoice.id}}</span>
        <span class="invoice-time grey-color">{{invoice.timeStamp | datePipe}}</span>

      </div>
      <div class="customer-info flex">
        <div class="customer-details flex flex-fd-col">
          <h5>Customer Details</h5>
          <span class="customer-name">{{invoice.customer.name}}</span>
          <span class="customer-email grey-color">{{invoice.customer.emailId}}</span>
        </div>
        <button class="print-invoice flex text-uppercase">
          <span>Print</span>
          <svg class="icon icon-print" viewBox="0 0 485.212 485.212">
            <rect x="151.636" y="363.906" width="151.618" height="30.331"></rect>
            <path d="M121.312,30.327h242.595v60.651h30.321V30.327C394.229,13.595,380.666,0,363.907,0H121.312    c-16.748,0-30.327,13.595-30.327,30.327v60.651h30.327V30.327z"></path>
            <rect x="151.636" y="303.257" width="181.939" height="30.327"></rect>
            <path d="M454.882,121.304H30.334c-16.748,0-30.327,13.591-30.327,30.324v181.956c0,16.759,13.579,30.321,30.327,30.321h60.651    v90.98c0,16.764,13.579,30.326,30.327,30.326h242.595c16.759,0,30.321-13.562,30.321-30.326v-90.98h60.653    c16.76,0,30.322-13.562,30.322-30.321V151.628C485.204,134.895,471.642,121.304,454.882,121.304z M363.907,454.886H121.312V272.93    h242.595V454.886z M424.551,212.282c-16.76,0-30.322-13.564-30.322-30.327c0-16.731,13.562-30.327,30.322-30.327    c16.765,0,30.331,13.595,30.331,30.327C454.882,198.717,441.315,212.282,424.551,212.282z"></path>
          </svg>
        </button>
      </div>
    </div>
    <!--Invoice items details section -->
    <div class="invoice-item-details" *ngIf="invoice && invoice.items && invoice.items.length>0">
      <app-table [columns-name]="headers" [table-data]="invoice.items" [custom-css]="'custom-table'"></app-table>
    </div>

    <!--Sub Total and Grand total section-->
    <div class="price-section flex">
      <div class="empty-div"></div>
      <div class="invoice-cart-entities flex flex-fd-col">
        <span>Sub Total</span>
        <span>Tax ({{invoice.cart.taxPercentage}}%)</span>
        <span>Discount ({{invoice.cart.discountPercentage}}%)</span>
        <span class="grand-total">Grand Total</span>
      </div>
      <div class="invoice-cart-stats flex flex-fd-col">
        <span>&#8377; {{invoice.cart.subTotal}}</span>
        <span>&#8377; {{invoice.cart.taxAmount}}</span>
        <span>&#8377; <span class="dash-align">-</span>{{invoice.cart.discountAmount}}</span>
        <span class="grand-total-amount">&#8377; {{invoice.cart.grandTotal}}</span>
      </div>
    </div>
  </div>
</div>